# Lean / Lake
.lake/
lake-packages/

# Editor
.DS_Store

# LaTeX (paper/ and papers/; PDFs are tracked)
**/paper/*.aux
**/paper/*.fdb_latexmk
**/paper/*.fls
**/paper/*.log
**/paper/*.out
**/paper/*.toc
**/paper/*.synctex.gz
**/papers/**/*.aux
**/papers/**/*.fdb_latexmk
**/papers/**/*.fls
**/papers/**/*.log
**/papers/**/*.out
**/papers/**/*.toc
**/papers/**/*.synctex.gz
**/*synctex(busy)*
